.maindiv {
    width: 350px;
    height: 440px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    float: center;
}

.input-text-area {
    width: 320px;
    margin: 0 auto;
    padding: 5px;
    float: center;
}

.wrong-text-area {
    width: 320px;
    margin: 0 auto;
    padding: 5px;
    float: center;
    border: 10px solid rgb(255, 1, 1);
}

.input-img-area {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 5px;
    float: center;
}

.actio-container {
    width: 320px;
    margin: 0 auto;
    padding: 5px;
    float: center;
}

.inner-items-left {
    width: 120px;
    margin: 0 auto;
    padding: 20px;
    float: left;
    text-align: left;
}

.inner-items-right {
    width: 120px;
    margin: 0 auto;
    padding: 20px;
    text-align: right;
    float: right;
}

.login-change {
    background-color: #4CAF50;
    transform: rotate(45deg);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}