.calculator {
    width: 400px;
    margin: 0 auto;
    background-color: blanchedalmond;
}

.display {
    text-align: center;
    padding: 10px;
}

.toolbar {
    text-align: center;
    padding: 10px;
}