.maindiv {
    width: 350px;
    height: 660px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    float: center;
}

.input-text-area {
    width: 320px;
    margin: 0 auto;
    padding: 5px;
    float: center;
}

.input-img-area {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 5px;
    float: center;
}

.actio-container {
    width: 320px;
    margin: 0 auto;
    padding: 5px;
    float: center;
}

.inner-items-left {
    width: 120px;
    margin: 0 auto;
    padding: 20px;
    float: left;
    text-align: left;
}

.inner-items-right {
    width: 120px;
    margin: 0 auto;
    padding: 20px;
    text-align: right;
    float: right;
}

.error {
    border: red 1px solid;
}

.hide {
    width: 50px;
    height: 50px;
    display: none;
}

.reveal {
    width: 400px;
    height: 400px;
}

.zero-width {
    width: 100px;
}